<!DOCTYPE HTML>
 
<html>
	<head>
		<title>Encrypted</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="/static/js/angularJsApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="static/css/main.css" rel="stylesheet">
		<script src="/static/js/translations/translations_english.js"></script>
		<script src="/static/js/translations/translations_crypto.js"></script>
	</head>
	
	<body style="height: 100%; overflow: hidden;" ng-app="app" ng-controller="decryptingCtrl">
		<header>
			<div class="cubbit-header">
				<div class="cubbit-logo"></div>
				<div class="buttons-header">
					<div id="english" class="half" ng-click="changeLanguage($event)">Ecnrypted</div>
					<div id="crypto" class="half" ng-click="changeLanguage($event)">b-&+(2'</div>
				</div>
			</div>
		</header>
		<div>
			<h2 class="application-title">
				{{ indexTitle }}
			</h2>
			<div id="hideable">
				<div class="description-updated-file encrypted-file-id">
					<div class="label-description-result-encrypted">
						File id:
					</div>
					<div class="description-from-result-container-encrypted">
						<p class="p-text-description-updated-file">
							{{fileInfo.uuid}}
						</p>
					</div>
				</div>

				<div class="description-updated-file encrypted-file-name">
					<div class="label-description-result-encrypted">
						File name:
					</div>
					<div class="description-from-result-container-encrypted">
						<p class="p-text-description-updated-file">
							{{fileInfo.name}}
						</p>
					</div>
				</div>

				<div class="description-updated-file encrypted-file-size">
					<div class="label-description-result-encrypted">
						File size:
					</div>
					<div class="description-from-result-container-encrypted">
						<p class="p-text-description-updated-file">
							{{fileInfo.size}}
						</p>
					</div>
				</div>

				<div class="description-updated-file encrypted-file-mime">
					<div class="label-description-result-encrypted">
						File mime:
					</div>
					<div class="description-from-result-container-encrypted">
						<p class="p-text-description-updated-file">
							{{fileInfo.mime}}
						</p>
					</div>
				</div>


				<div class="description-updated-file insert-your-encryption-key">

					<div class="label-description-from-result">
						Insert your encryption key:
					</div>

					<input type="text" id="encrkey" name="encrkey" class="description-from-result-container insert-uuid width-insert-encryption-key"/>

					<button type="submit" class="d-yellow-button p-yellow-button" ng-click="decryptAndDownload()">
						Get file
					</button>
				</div>
			</div>
			<div id="loading" class="loading hidden"></div>
		</div>

		<footer>
			<div class="footer-element">
				<div class="footer-text">
					{{footerDescription}}
				</div>
			</div>
		</footer>

	</body>
</html>