<!DOCTYPE HTML>
 
<html>
	<head>
		<title>Encrypted</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="/static/js/angularJsApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="static/css/main.css" rel="stylesheet">
		<script src="/static/js/translations/translations_english.js"></script>
		<script src="/static/js/translations/translations_crypto.js"></script>
		<!-- <script> 
			$(function(){
			  $("#headerContent").load("./header.html"); 
			});
		</script> -->
	</head>
	
	<body style="height: 100%" ng-app="app" ng-controller="encryptedCtrl">
		<header>
			<div class="cubbit-header">
				<div class="cubbit-logo"></div>
				<div class="buttons-header">
					<div id="english" class="half" ng-click="changeLanguage($event)">Ecnrypt</div>
					<div id="crypto" class="half" ng-click="changeLanguage($event)">b-&+(2'</div>
				</div>
			</div>
		</header>
		<div>
			CIAO
		</div>

		<footer>
			<div class="footer-element">{{footerDescription}}</div>
		</footer>

	
		<!-- </div> -->

		<!-- <div  ng-app="app" ng-controller="jsaLoadCustomers">
			<h3>Customers List:</h3>
			<button ng-click="submitForm()">
				Clicca
			</button>
			<button ng-click="decryptFile()">
				Decrypt
			</button>
			<button ng-click="downloadFile()">
				Download
			</button>

			UUID: {{ fileInsertedInfo.uuid }}
			KEY: {{ fileInsertedInfo.key }}

			-- DECRYPTED FILE --
			<br>
			UUID: {{ decryptedFileObj.uuid }}
			NAME: {{ decryptedFileObj.name }}
			SIZE: {{ decryptedFileObj.size }}
			MIME: {{ decryptedFileObj.mime }}

			<input type='file' accept='image/*' onchange='openFile(event)'><br>
			<img id='output'>
		</div> -->
	</body>
</html>