<!DOCTYPE HTML>
 
<html>
	<head>
		<title>AngularJS + Bootstrap Table + NodeJS/Express RestAPIs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="/static/js/angularJsApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="static/css/main.css" rel="stylesheet">
	</head>
	
	<body style="height: 100%">

		<!-- <div class="prova"> -->
			<div class="container-orange-big">
				<div class="container-orange-big-inside"></div>
				<label class="container-big-info">or drop files here</label>
				<div class="listbox-container">
					<div class="img-file img-file-yes file-small"></div>
					<div class="listbox-center-part"></div>
					<div class="listbox-arrow-part"></div>
				</div>
			</div>
			
		<!-- </div> -->

		<!-- <div  ng-app="app" ng-controller="jsaLoadCustomers">
			<h3>Customers List:</h3>
			<button ng-click="submitForm()">
				Clicca
			</button>
			<button ng-click="decryptFile()">
				Decrypt
			</button>
			<button ng-click="downloadFile()">
				Download
			</button>

			UUID: {{ fileInsertedInfo.uuid }}
			KEY: {{ fileInsertedInfo.key }}

			-- DECRYPTED FILE --
			<br>
			UUID: {{ decryptedFileObj.uuid }}
			NAME: {{ decryptedFileObj.name }}
			SIZE: {{ decryptedFileObj.size }}
			MIME: {{ decryptedFileObj.mime }}

			<input type='file' accept='image/*' onchange='openFile(event)'><br>
			<img id='output'>
		</div> -->
	</body>
</html>